<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SymptomSage</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/Animated-Type-Heading.css">
    <link rel="stylesheet" href="/static/assets/css/DA_About.css">
    <link rel="stylesheet" href="/static/assets/css/Navbar-Right-Links-Dark-icons.css">
    <link rel="icon" href="/static/css/image.png">
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark py-3" data-bs-theme="dark">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><img width="35" height="60" src="/static/assets/img/Screenshot%202024-04-07%20032046.png"></span><span>SymptomSage</span></a><button data-bs-toggle="collapse" data-bs-target="#navcol-5" class="navbar-toggler"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul>
                    <div class="collapse navbar-collapse" id="navcol-2">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"></li>
                            <li class="nav-item"></li>
                            <li class="nav-item"></li>
                        </ul><a class="btn btn-primary ms-md-2" role="button" href="/analyse">Get Started</a><a class="btn btn-primary ms-md-2" role="button" href="/auth">SIGN-UP & LOGIN</a>
                </div>
            </div>
        </div>
    </nav>
    <div data-bss-parallax-bg="true" style="height: 720px;background-image: url(&quot;/static/assets/img/b.jpg&quot;);background-position: center;background-size: cover;">				<div class="caption v-middle text-center">
					<h1 class="cd-headline clip">
			            <span class="blc" style="color:aliceblue;">Welcome to SymptomSage</span><br>
			            <span class="cd-words-wrapper">
			              <b class="is-visible" style="color:aliceblue;">A Pneumonia Detection Service.</b>
			              <b style="color:aliceblue;">Innovative Healthcare Solution.</b>
			            </span>
	          		</h1>
				</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <section class="py-4 py-xl-5">
            <div class="container" style="background-color:transparent !important;"></div>
        </section><br>
<br>


<div class="text-white border rounded border-0 p-4 p-md-5">
    <h1 class="fw-bold text-center text-white mb-3" style="font-size:xx-large;">About</h1>
    <p class="mb-4 text-center" style="font-size:large;">
        Welcome to our web application for pneumonia detection based on X-rays! We are dedicated to providing an efficient and reliable platform for early diagnosis and comprehensive reporting of pneumonia cases. <br>
        Symptomsage leverages advanced CNN models to revolutionize pneumonia diagnosis, offering cutting-edge healthcare solutions. Explore the technical journey behind our Flask-based UI.
</p>
<p class="mb-4 text-center" style="font-size:large;">
    We are team Snack-Overflow a group of young developers who try to build innovative solutions to the problems you face in the existing
    healthcare field. With our knowledge of the problem and the skills we possess we develop innovative and sustainable solutions. 
</p>
    <div class="text-center my-3"><a class="btn btn-primary btn-lg text-center me-2" role="button" href="/documentation" target="_blank">Read More</a></div>
</div>
    </div>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/bs-init.js"></script>
    <script src="/static/assets/js/Animated-Type-Heading-type-headline.js"></script>
</body>
<link rel="stylesheet" href="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css">
<script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
<df-messenger
  location="us-central1"
  project-id="airy-gate-418807"
  agent-id="c4717d42-758e-4826-a826-9516908f6627"
  language-code="en"
  max-query-length="-1">
  <df-messenger-chat-bubble
   chat-title="AskSage">
  </df-messenger-chat-bubble>
</df-messenger>
<style>
  df-messenger {
    z-index: 999;
    position: absolute;
    --df-messenger-font-color: #000;
    --df-messenger-font-family: Google Sans;
    --df-messenger-chat-background: #f3f6fc;
    --df-messenger-message-user-background: #d3e3fd;
    --df-messenger-message-bot-background: #fff;
    bottom: 16px;
    right: 16px;
  }
</style>
</html>
